.author_section {
    display: flex;
    max-width: 1600px;
}

.author_title {
    position: relative;
    font-size: 55px;
    line-height: 1em;
    margin-bottom: 32px;
}

.author_title:after {
    content: '';
    position: absolute;
    left: 2px;
    bottom: -12px;
    width: 70%;
    height: 1px;
    background: #1C1C1C;
}

.author_info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px;
    justify-content: center;
    align-items: flex-start;
}

.author_info .author_about{
    font-size: 16px;
    line-height: 2em;
    color: #1C1C1C;
}

.author_photo_wrapper {
    flex: 1;
    min-height: 800px;
    min-width: 50%;
    background-image: url('../../assets/naz.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.author_photo_wrapper .author_photo {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .author_section {
        flex-direction: column;
    }

    .author_info {
        padding: 20px;
    }

    .author_title {
        font-size: 32px;
    }

    .author_photo_wrapper {
        min-height: 500px;
    }
}