.links .instagram {
    display: inline-block;
    background-image: url('../../assets/instagram_color.svg');
    background-size: cover;
    background-position: center;
}

.links .vk {
    display: inline-block;
    background-image: url('../../assets/vk_color.svg');
    background-size: cover;
    background-position: center;
}

.links .telegram {
    display: inline-block;
    background-image: url('../../assets/telegram_color.svg');
    background-size: cover;
    background-position: center;
}

.links .whatsapp {
    display: inline-block;
    background-image: url('../../assets/whatsapp_color.svg');
    background-size: cover;
    background-position: center;
}

.links .email {
    display: inline-block;
    background-image: url('../../assets/email_color.svg');
    background-size: cover;
    background-position: center;
}