.book_section {
    display: flex;
    height: auto;
    background: #e79fb6;;
}

.book_section__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 20px;
}

.book_section_chapter_wrap{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.book_section_chapter{
    position: relative;
    padding: 20px;
    width: 50%;
    background: #363fba;
    color: white;
    transition: 0.3s;
    box-shadow: 0 0 24px 0 rgba(34, 60, 80, 0);
}

.book_section_chapter .chapter-title{
    margin: 0 0 24px;
    text-align: center;
}

.book_section_chapter div{
    font-size: 14px;
    text-align: center;
}

.book_section_chapter:last-child{
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    .book_section {
        flex-direction: column;
    }

    .book_section__description {
        width: 100%;
        padding: 20px;
    }
    
    .book_section_chapter_wrap{
        width: 100%;
    }
}