.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 24px 40px;
}

.header .menu-item {
    position: relative;
    opacity: 0.6;
    color: white;
    transition: 0.3s;
    text-decoration: none;
    margin-right: 24px;
}

.header .menu-item:last-child {
    margin-right: 0;
}

.header .menu-item:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    bottom: -5px;
    left: 0;
    background: #e79fb6;
    transition: 0.3s;
}

.header .menu-item:hover {
    opacity: 1;
    color: #e79fb6;
}

.header .menu-item:hover:after {
    width: 30px;
}

.header .links * {
    margin-right: 8px;
}

.header .links .instagram {
    height: 30px;
    width: 30px;
}

.header .links .vk {
    height: 30px;
    width: 30px;
}

.header .links .telegram {
    height: 30px;
    width: 30px;
}

.header .links .whatsapp {
    height: 30px;
    width: 30px;
    margin-right: 0;
}

.header .links .email {
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 432px) {
    .header {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
    }

    .logo {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 330px) {
    .header {
        font-size: 14px;
    }
}