body {
    margin: 0;
    /*font-family: 'Amatic SC', cursive;*/
}

body * {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
